In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
df=pd.read_excel('pizza.xlsx')

In [31]:
df.head()

       price  size
0  Rp235,000  22.0
1  Rp230,000  22.0
2  Rp230,000  22.0
3  Rp198,000  20.0
4  Rp140,000  18.5